.mainBlock {
  height: max-content;
  margin: 0 25px;

  border-radius: 10px;

  // box-shadow: 15px 15px 8px 0 rgb(94 93 93);
  box-shadow: 1px 2px 8px 5px rgb(94 93 93 / 80%);

  transition: 0.3s;

  &:hover {
    box-shadow: 1px 2px 8px 8px rgb(94 93 93 / 100%);
    transition: 0.3s;
  }
}

.title {
  display: flex;
  justify-content: center;

  font-family: Cambria, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 35px;
  padding: 10px;

  font-size: 1rem;

  border: none;
  outline: 0;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
    background-color: #747bff;
    transition: 0.5s;
  }

  &:active {
    transform: scale(0.9);
    background-color: #9194ef;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

@media (width <= 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media (width <= 768px) {
  .formForTodo {
    margin: 100px 0;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (width <= 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 25px;
  }
}
